html, body {
  margin: 0; padding: 0;
  height: 100%;
  background-color: #1D1F21;
  overflow: hidden;
}
ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
textarea {
  border: none;
  background-color: transparent;
  resize: none;
}
.json-diff-input {
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  position: relative;
}

.json-diff-input .CodeMirror {
  height: 100%;
}

.json-diff-input:hover .input-buttons {
  opacity: 1;
}

.json-diff-input.collapse .input-buttons {
  display: none;
}

.input-buttons a:hover {
  opacity: .7;
}

.json-diff-input .input-buttons {
  transition: opacity .2s;
  opacity: 0;
  position: absolute;
  right: 19px;
  top: 0;
  z-index: 4;
}

.json-diff-input .input-buttons a {
  color: white;
  text-decoration: none;
  font-size: 26px;
}

.lighttheme .json-diff-input .input-buttons a {
  color: #1D1F21;
}

.json-diff-input .input-buttons a.input-split {
  font-size: 33px;
  position: relative;
  top: 5px;
}

.json-diff-input {
  transition: width .3s;
}

.json-diff-input.split {
  width: 50%;
}

.json-diff-input.collapse {
  width: 0%;
}

.json-diff-input.expand {
  width: 100%;
}

.json-diff-input.split .input-split {
  display: none;
}

.json-diff-input.collapse .input-collapse {
  display: none;
}

.json-diff-input.expand .input-expand {
  display: none;
}

#header {
  height: 48px;
  background-color: #181A1B;
  color: #FFF;
  font-family: monospace;
  padding: 0 32px;
}

.header-icon {
  padding-top: 5px;
}

h1 {
  margin: 0; padding: 0;
  font-weight: lighter;
  text-transform: lowercase;
  padding-top: 6px;
}

h2 {
  font-weight: lighter;
  color: #bbb;
  margin: 0;
  padding: 12px;
  padding-left: 32px;
}

.left {
  float: left;
}

.right {
  float: right;
}

#error-message {
  display: inline-block;
  position: relative;
  right: 64px;
  top: -11px;
  color: #DD4444;
}

#error-message svg {
  fill: currentColor;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

.left-panel {
  width: 200px;
  height: calc(100% - 48px);
  float: left;
  border-right: solid 2px #181A1B;
  box-sizing: border-box;
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.history-container {
  flex: auto;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 16px;
}

.ad-container {
  flex: auto;
  box-sizing: border-box;
  font-family: sans-serif;
  width: 161px;
}

#carbonads {
  border-radius: 4px 2px;
  background-color: #292929;
  padding: 16px;
}

.lighttheme #carbonads {
  margin-bottom: 16px;
}

.ad-container a {
  display: block;
}

.carbon-img {
  text-align: center;
  padding-bottom: 12px;
}

.carbon-text {
  color: #e4e4e4;
  font-size: 12px;
}

.carbon-poweredby {
  color: #9a9a9a;
  font-size: 10px;
}

.diff-inputs {
  width: calc(100% - 200px);
  float: left;
  height: calc(100% - 48px);
}

.settings-menu {
  float: right;
  position: relative;
  margin-left: 8px;
}

.settings-menu-content:before {
  content: '';
  display: block;
  height: 40px;
  width: 100%;
  position: absolute;
  top: -40px;
}

.settings-menu-content {
  display: none;
  position: absolute;
  z-index: 5;
  padding: 16px;
  right: 0;
  background-color: #0f1010;
}

.settings-menu-content:hover {
  display: block;
}

.settings-menu:hover {
  background-color: #0f1010;
}

.settings-menu:hover .settings-menu-content {
  display: block;

}

.menu-item {
  white-space: nowrap;
  display: block;
  text-align: right;
}

.menu-item:not(:last-child) {
  padding-bottom: 8px;
}

.menu-item:hover {
  cursor: pointer;
}

body.lighttheme {
  background-color: #f9f9f9;
}

.lighttheme #header {
  color: #1D1F21;
  background-color: #f9f9f9;
}

.lighttheme .header-icon path {
  fill: #1D1F21;
}

.lighttheme .settings-menu-content {
  background-color: #eaeaea;
}

.lighttheme .settings-menu:hover {
  background-color: #eaeaea;
}

.lighttheme .left-panel {
  border-right-color: #dddddd;
  border-right-width: 1px;
}

.lighttheme #carbonads {
  background-color: transparent;
  border: solid 2px #dddddd;
}

.lighttheme .carbon-text {
  color: #1D1F21;
}

button {
  border: 0;
  background-color: #2E6DFF;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-family: monospace;
  padding: 8px;
  letter-spacing: 2px;
  cursor: pointer;
}

button:hover {
  background-color: #2458d0;
}

button:active {
  background-color: #1f4ebb;
}

.diff-history-item {
  color: white;
  font-family: monospace;
  padding: 8px 0;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.diff-history-item:hover {
  background-color: #2d2d2d;
}

.lighttheme .diff-history-item {
  color: #1D1F21;
}

.lighttheme .diff-history-item:hover {
  background-color: #e4e4e4;
}

.history-timestamp {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.history-string {
  word-break: break-all;
  width: 100%;
  overflow: hidden;
  color: #a2a2a2;
}

.made-by-text {
  margin-top: 8px;
  padding-top: 8px;
  background-color: #1D1F21;
  margin-left: -16px;
  padding-left: 16px;
  margin-right: -16px;
  padding-right: 16px;
  margin-bottom: -24px;
  padding-bottom: 16px;
}

.made-by-text a {
  text-decoration: none;
  color: #e4e4e4;
  font-family: monospace;
}

.made-by-text img {
  height: 15px;
  vertical-align: text-bottom;
}
